@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Lobster&family=Major+Mono+Display&family=Padauk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  overflow: auto;
  background: #131516;
  font-family: "Padauk", sans-serif;
}

ul {
  overflow: hidden;
  list-style-type: none;
}

li {
  float: right;
  color: #9bd71f;
  box-sizing: border-box;
}

li a {
  text-decoration: none;
  font-size: 1.2em;
  color: #9bd71f;
  box-sizing: border-box;
}

.heading {
  color: #9bd71f;
  font-family: "Roboto Slab", serif;
  letter-spacing: 4px;
  font-weight: 1000;
  padding: 8px 0px 0px 40px;
  float: left;
  font-size: 2.8rem;
  text-decoration: none;
  padding: 10px;
  margin-left: 20px;
}

.material-icons.md-52 {
  color: #41ac17;
  font-size: 58px;
  margin-bottom: none;
  position: relative;
  top: 9px;
  left: -4px;
  animation: flicker 5s linear infinite;
}

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
    color: rgba(252, 4, 4, 0.92);
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.98), 0 0 30px rgba(202, 228, 225, 0.42),
      0 0 12px rgb(255, 0, 0), 0 0 22px rgb(255, 0, 0), 0 0 38px rgb(255, 0, 0),
      0 0 60px rgb(255, 0, 0);
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
    color: rgb(50, 248, 1);
    text-shadow: 0 0 6px rgb(0, 0, 0), 0 0 30px rgb(107, 107, 107),
      0 0 12px rgb(9, 255, 0), 0 0 21px rgb(5, 245, 45),
      0 0 34px rgb(30, 255, 0), 0 0 30px rgb(9, 248, 1);
  }
}

div[class*="box"] {
  margin-top: 28px;
  height: 3.33%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  line-height: 40px;
  height: 40px;
  text-align: center;
  width: 200px;
  cursor: pointer;
}

/* 
========================
      BUTTON ONE
========================
*/
.btn-one {
  transition: all 0.3s;
  position: relative;
  color: #9bd71f;
  letter-spacing: 2px;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #9bd71f;
  border-bottom-color: #9bd71f;
  transform: scale(0.1, 1);
  color: #53d71f;
}
.btn-one:hover span {
  letter-spacing: 4px;
  color: #41ac17;
}
.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.btn-one::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0);
}
.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

/* CoronaVirus Animation
Default speed is: 10s
MoveUpDown is a keyFrames that define the position*/
.animatediv {
  position: absolute;
}

.v1 {
  right: 400px;
  animation: MoveUpDown1 2.5s linear infinite;
}
.v2 {
  right: 100px;
  animation: MoveUpDown2 1.8s linear infinite;
}
.v3 {
  right: 80px;
  animation: MoveUpDown3 1.5s linear infinite;
}

/* position of corona animation */
@keyframes MoveUpDown1 {
  0%,
  100% {
    top: 210px;
  }
  50% {
    top: 250px;
  }
}

@keyframes MoveUpDown2 {
  0%,
  100% {
    top: 150px;
  }
  50% {
    top: 180px;
  }
}

@keyframes MoveUpDown3 {
  0%,
  100% {
    top: 500px;
  }
  50% {
    top: 520px;
  }
}

.doc-image {
  position: absolute;
  top: 200px;
  left: 50px;
}

#type {
  text-align: center;
  padding-top: 100px;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  color: #9bd71f;
}

#type::after {
  content: "|";
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  top: 740px;
}

.card {
  margin: 30px auto;
  width: 400px;
  height: 400px;
  border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card{
  /* padding: 50px; */
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  padding: 5px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin-top: -80px;
  height: 40px;
  color: #131516;
  text-decoration: none;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px  5px #9bd71f, 
    -5px -5px 30px  5px #9bd71f;
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}


@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}


/*
.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}
*/
.news{
  position: relative;
  top: 700px;
  color: aliceblue;
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  color: #9bd71f;
}

.footer{
  position: relative;
  top: 750px;
  background-color: rgb(54, 54, 54);
}

.credit{
  text-align: center;
  color: thistle;
}
.extra{
  text-align: center;
  color: whitesmoke;
}